In [206]:
import pandas as pd

data = pd.DataFrame(
    {
        "Name": ["Juan", "Pedro", "Maria", "Mark", "Eve", "Luis", "Ana"],
        "Age": [25, 40, 15, 40, 45, 22, 27],
        "Salary": [4200, 6000, 5500, 7200, 1200, 1800, 2300],
        "Department": ["IT", "Marketing", "IT", "IT", "Marketing", "Sales", "IT"],
    }
)

In [207]:
print(data)

    Name  Age  Salary Department
0   Juan   25    4200         IT
1  Pedro   40    6000  Marketing
2  Maria   15    5500         IT
3   Mark   40    7200         IT
4    Eve   45    1200  Marketing
5   Luis   22    1800      Sales
6    Ana   27    2300         IT

## Sorting

In [208]:
# Sorting data by accending order (Salary)
print(data.sort_values(by="Salary"))  # default is accending order

    Name  Age  Salary Department
4    Eve   45    1200  Marketing
5   Luis   22    1800      Sales
6    Ana   27    2300         IT
0   Juan   25    4200         IT
2  Maria   15    5500         IT
1  Pedro   40    6000  Marketing
3   Mark   40    7200         IT

In [209]:
# Sorting data by descending order (Salary)
print(data.sort_values(by="Salary", ascending=False))

    Name  Age  Salary Department
3   Mark   40    7200         IT
1  Pedro   40    6000  Marketing
2  Maria   15    5500         IT
0   Juan   25    4200         IT
6    Ana   27    2300         IT
5   Luis   22    1800      Sales
4    Eve   45    1200  Marketing

## Grouping

In [210]:
# Count the number of employees in each department
print(data.groupby('Department')['Name'].count())

Department
IT           4
Marketing    2
Sales        1
Name: Name, dtype: int64

In [211]:
# Calculate the average salary per department
print(data.groupby('Department')['Salary'].mean())

Department
IT           4800.0
Marketing    3600.0
Sales        1800.0
Name: Salary, dtype: float64

In [212]:
# Get the minimun salary per department
print(data.groupby('Department')['Salary'].min())

Department
IT           2300
Marketing    1200
Sales        1800
Name: Salary, dtype: int64

In [213]:
# Get the maximum salary per department
print(data.groupby('Department')['Salary'].max())

Department
IT           7200
Marketing    6000
Sales        1800
Name: Salary, dtype: int64

## Filtering

In [214]:
# Employees with a salary greater than 3500
print(data[data['Salary'] > 3500])

    Name  Age  Salary Department
0   Juan   25    4200         IT
1  Pedro   40    6000  Marketing
2  Maria   15    5500         IT
3   Mark   40    7200         IT

In [215]:
# Employees with a salary greater than 3500 and less than 5000
print(data[(data['Salary'] > 3500) & (data['Salary'] < 6000)])

    Name  Age  Salary Department
0   Juan   25    4200         IT
2  Maria   15    5500         IT

In [216]:
# Employees with an age between 25 and 40
print(data[(data['Age'] >= 25) & (data['Age'] <= 40)])

    Name  Age  Salary Department
0   Juan   25    4200         IT
1  Pedro   40    6000  Marketing
3   Mark   40    7200         IT
6    Ana   27    2300         IT

In [217]:
print(data[data['Age'].between(25, 40)])

    Name  Age  Salary Department
0   Juan   25    4200         IT
1  Pedro   40    6000  Marketing
3   Mark   40    7200         IT
6    Ana   27    2300         IT

In [218]:
# Employees with age 25 and 40
print(data[data['Age'].isin([25, 40])])

    Name  Age  Salary Department
0   Juan   25    4200         IT
1  Pedro   40    6000  Marketing
3   Mark   40    7200         IT